.container {
  background-color: #e2f5fb !important;
  margin: 8px 20px 0px 20px;
  border-radius: 12px;
  position: relative;
  padding-bottom: 220px;
  margin-bottom: 315px;
}
.title {
  color: #003569;
  font-size: 7rem;
  text-align: center;
  line-height: 0.8;
  margin-top: 40px;
}
.container_content {
  width: 75%;
  margin: 0 auto;
  padding: 24px 0px;
}
.image_container {
  width: 30%;
  img {
    width: 100%;
  }
}
.image_container2 {
  width: 25%;
  img {
    width: 100%;
  }
}
.sub_text {
  color: #808080;
  margin-bottom: 12px;
  font-size: 14px;
}
.sub_text2 {
  color: #808080;
  margin-bottom: 12px;
  font-size: 18px;
}
.subheading {
  color: #17414f;
  margin-bottom: 12px;
  font-size: 1.6rem;
}
.button {
  background-color: #17414f;
  color: #ffffff;
  padding: 12px 60px;
  border-radius: 50px;
  cursor: pointer;
}
.w30 {
  width: 27%;
  color: #17414f;
  div {
    margin-top: 6px;
  }
  h4 {
    font-size: 20px;
  }
}
.card {
  width: 20%;
  text-align: center;
  p {
    color: #e5e5e5;
    font-size: 14px;
  }
}
.card_container {
  width: 75%;
  margin: 0 auto;
  background-color: #17414f;
  border-radius: 40px;
  color: white;
  padding: 60px 24px;
  position: absolute;
  bottom: -250px;
  left: 165px;
}
.image_container3 {
  width: 40%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.card_title {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 400;
}
.circle_container {
  margin-top: 60px;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: #b0bec5; /* Gray-blue color */
  border-radius: 50%; /* Makes the element a circle */
}
.w18 {
  width: 20%;
  margin-bottom: 45px;
  h4 {
    font-weight: 500;
  }
}
.row1 {
  margin-bottom: 60px;
  margin-top: -96px;
}
@media screen and (max-width: 1173px) {
  .card {
    width: 18% !important;
  }
  .card_container {
    left: 122px !important;
  }
  .title {
    font-size: 5rem !important;
  }
}
@media screen and (max-width: 1025px) {
  .container {
    padding-bottom: 268px !important;
    margin-bottom: 356px !important;
  }
  .card_container {
    width: 80% !important;
    left: 76px !important;
    bottom: -276px !important;
  }
  .image_container3 {
    width: 50% !important;
  }
  .w18 {
    width: 33% !important;
  }
  .image_container {
    width: 38% !important;
  }
  .w30 {
    width: 33% !important;
  }
  .g4 {
    gap: 0px 30px !important;
  }
}
@media screen and (max-width: 950px) {
  .card_container {
    width: 80% !important;
    left: 76px !important;
    bottom: -265px !important;
  }
  .image_container3 {
    width: 50% !important;
  }
  .title {
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 959px) {
  .container {
    padding-bottom: 70px !important;
    margin-bottom: 0px !important;
  }
  .card_container {
    position: static !important;
  }
  .image_container3 {
    width: 30% !important;
  }
  .card {
    width: 40% !important;
    p {
      font-size: 14px !important;
    }
  }
  .card_title {
    font-size: 26px !important;
  }
  .title {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 670px) {
  .card {
    width: 55% !important;
  }
  .title {
    font-size: 4rem !important;
    line-height: 1 !important;
  }
}
@media screen and (max-width: 780px) {
  .card_title {
    font-size: 26px !important;
  }
  .image_container3 {
    width: 24% !important;
  }
  .card {
    width: 70% !important;
  }
  .hero_container {
    flex-direction: column !important;
    justify-content: center;
  }
  .w18 {
    width: 100% !important;
    margin-top: 45px;
  }
  .image_container {
    width: 100% !important;
  }
  .image_container2 {
    font-size: 14px !important;
    width: 15% !important;
  }
  .w30 {
    width: 100% !important;
    h4 {
      font-size: 24px !important;
    }
  }
  .sub_text {
    font-size: 17px !important;
  }
}

@media screen and (max-width: 500px) {
  .card_title {
    font-size: 26px !important;
  }
  .image_container3 {
    width: 35% !important;
  }
  .card {
    width: 70% !important;
  }
  .hero_container {
    flex-direction: column !important;
    justify-content: center;
  }
  .w18 {
    width: 100% !important;
    margin-top: 45px;
  }
  .image_container {
    width: 100% !important;
  }
  .image_container2 {
    width: 25% !important;
  }
  .w30 {
    width: 100% !important;
  }
}
